ttkbootstrap==1.20.3
pynput==1.8.2
Pillow==12.2.0
pystray==0.19.5
mss==10.2.0
numpy==2.5.1
opencv-python-headless==5.0.0.93
pyinstaller==6.20.0
pypinyin==0.55.0
pywinauto==0.6.9
pywin32==312
comtypes==1.4.17
psutil==7.2.2
six==1.17.0
